@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;500;600&family=Spectral+SC:wght@500&family=Spectral:wght@300&display=swap');

body{
    margin: 0em;
    font-family: 'Spectral', sans-serif;
    font-weight: 300;
    font-size: 13pt;
    background-color: snow;
    text-align: justify;
}

.page header {
    background-image: url(Flag.jpg);
    padding-left: 1em;
    font-family: 'Spectral SC', serif;
    font-weight: 500;
    font-size: 35pt;
    color: goldenrod;
}

.page h1 {
    font-size: inherit;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.smallHeader a {
    display: inline-block;
    font-size: 26pt;
    color: goldenrod;
    text-decoration: none;
    font-weight: 400;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.3em;
}

.smallHeader a:hover {
    text-decoration: underline;
}

main h2 {
    font-size: 25pt;
    font-weight: 500;
    margin-top: 1em;
    font-family: 'Spectral SC', serif;
    color: black
}

.page main img {
    float:right;
    width:40%;
    margin-right:3em;
    margin-left: 3em;
}

.page main {
    margin: 0em;
    padding-left: 3em;
}

.buttonContainer {
    padding-top: 1.25em;
    display: grid;
    gap: 1em;
}

.buttonContainer button {
    font-family: 'Spectral', sans-serif;
    font-weight: 300;
    font-size: 13pt;
}

button.one {
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
}

button.two {
    grid-column: 2;
    grid-row: 1;
    cursor: pointer;
}

button.three {
    grid-column: 1;
    grid-row: 2;
    cursor: pointer;
}

button.four {
    grid-column: 2;
    grid-row: 2;
    cursor: pointer;
}

div.poof{
    display: none;
}